<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Dev">
        <!--        <activity-->
        <!--            android:name=".organizer.OrganizerNavActivity"-->
        <!--            android:exported="false" />-->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".admin.AdminNavActivity"
            android:exported="false" />

        <activity
            android:name=".entrant.EntrantNavActivity"
            android:exported="false" />

        <activity android:name="com.example.dev.entrant.EntrantMainActivity"
                  android:exported="false"/>

        <activity
            android:name="com.example.dev.entrant.EntrantMessagesActivity"
            android:exported="false" />

        <activity
            android:name="com.example.dev.entrant.EventDetailsActivity"
            android:exported="false" />

        <activity
            android:name=".organizer.OrganizerDashboardActivity"
            android:exported="true" />

        <activity
            android:name=".organizer.CreateEventActivity"
            android:exported="true" />
        <activity
            android:name=".organizer.UploadPosterActivity"
            android:exported="false" />
        <activity
            android:name=".organizer.PublishEventActivity"
            android:exported="false" />
        <activity
            android:name=".organizer.EventDetailActivity"
            android:exported="true" />

    </application>

    </application>

</manifest>
